<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!--HTTP URLs restrictions -->
    <http use-expressions="true">
        <custom-filter position="FIRST" ref="i18nFilter"/>

        <intercept-url pattern="/mozidoweb/**" access="permitAll"/>
        <intercept-url pattern="/images/**" access="permitAll"/>
        <intercept-url pattern="/mobile/**" access="permitAll"/>
        <intercept-url pattern="/css/**" access="permitAll"/>
        <intercept-url pattern="/js/**" access="permitAll"/>
        <intercept-url pattern="/index.html" access="permitAll"/>
        <intercept-url pattern="/favicon.ico" access="permitAll"/>

        <form-login login-page="/index.html"/>
    </http>

    <!-- Services restrictions -->
    <global-method-security pre-post-annotations="enabled"/>

    <authentication-manager/>
</beans:beans>